body {
    background-image: url(../images/geometric-leaves.png);
    font-size: 18px;
    line-height: 34px;
    color: #333;
    height: 100%;
}

h1 {
    color: rgb(77, 214, 191);
    margin-bottom: 30px;
    border-bottom: 2px solid rgb(54, 139, 125);
    padding-bottom: 30px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 12px;
    text-align: center;
    padding: 30px;
    border-top: 8px solid rgb(77, 214, 191);
    background: gray;
    color: whitesmoke;
}

header {
    width: 100%;
    z-index: 99;
    overflow: auto;
    background: #fff;
    border-bottom: 2px solid rgb(54, 139, 125);
}

h5 {
    width: 350px;
    height: 90px;
    float: left;
    text-align: center;
    line-height: 90px;
    font-weight: 700;
    font-size: 40px;
    background: rgb(77, 214, 191);
    color: #fff;
    margin-bottom: 0px
}

nav {
    float: right;
}

#about-img {
    margin-right: 20px;
    width: 100%;
    height:auto;
    max-width: 200px;
}

.container {
    width:100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

.d-flex {
    display: none;
    display: none;
}

.navbar {
    padding: 0px 0px 0px 0px!important;
    margin-bottom: 0px!important;
}

@media screen and (max-width: 896px)
{
    .project 
    {
        width: 45%!important;
    }
}

@media screen and (max-width: 768px)
{
    #about-img {
        width: 100%;
        height:auto;
        max-width: 300px;
    }

    .col-md-9 {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .container {
        width:100%;
        max-width: 650px;
        margin: 0 auto;
        clear: both;
    }

}

@media screen and (max-width: 640px)
{

    footer {
        bottom: -250px;
    }
    
    #about-img {
        width: 100%;
        height:auto;
        max-width: 550px;
    }

    .flex-column {
        flex-direction: column!important
    }
    
    .mr-sm-auto, .mx-sm-auto {
        margin-right: 0px!important
    }

    .d-flex {
        display: -ms-flexbox!important;
        display: flex!important;
    }
    .container {
        width:100%;
        max-width: 590px;
        margin: 0 auto;
        clear: both;
    }

    h5 {
        max-width: 100%;
        width: 100%;
        margin-bottom: 10px;
    }
    .navbar {
        max-width: 100%;
        width: 100%;
        margin-bottom: 10px!important;
        margin-left: 0;
        margin-right: 0;
    }

    #portFooter {
        bottom: -1700px!important;
    }

    .project 
    {
        width: 100%!important;
        max-width: 100%!important;
    }
}

/* Contact Form Section */

#contact-form ul {
    margin-bottom: 20px;
}

#contact-form li {
    margin-bottom: 10px;
}

label, input[type=text], input[type=email], textarea { 
    display:block;
    width: 100%
}

input[type=text], input[type=email], textarea{
    height: 35px;
    padding: 0 10px;
    font-size: 16px;
    border: 1px solid #ddd;
}

textarea{
    height: 200px;
}

input[type=submit] {
    border: 0 none;
    font-size: 18px;
    padding: 10px 30px;
    cursor: pointer;
    background: rgb(77, 214, 191);
    color: #fff;
}

/* Portfolio Section */
.project {
    width: 274px;
    overflow: auto;
    position: relative;
    float: left;
    margin: 20px 0 25px;
}

.project:nth-child(even){ 
    margin-right: 40px;
}

.project img {
    width: 100%;
    border: 0 none;
    opacity: .8;
}

.project h3 { 
    width: 100%;
    position: absolute;
    bottom: 20px;
    padding: 15px;
    line-height: 30px;
    border-bottom: 0;
    margin-bottom: 0;
    text-align: center;
    font-weight: 300;
    background: rgb(77, 214, 191);
    color: #fff;
}

#portFooter {
    bottom: -230px;
}