body {
    background-image: url(../images/geometric-leaves.png);
    font-size: 18px;
    line-height: 34px;
    color: #333;
    height: 100%;
}

h1 {
    color: rgb(65, 177, 158);
    margin-bottom: 30px;
    border-bottom: 2px solid rgb(65, 177, 158);
    padding-bottom: 30px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 12px;
    text-align: center;
    padding: 30px;
    border-top: 8px solid rgb(65, 177, 158);
    background: gray;
    color: whitesmoke;
}

header {
    width: 100%;
    margin: 0 0 30px;
    z-index: 99;
    overflow: auto;
    background: #fff;
    border-bottom: 2px solid rgb(65, 177, 158);
}

h5 {
    float: left;
}

nav {
    float: right;
}

#about-img {
    margin-right: 20px;
    width: 100%;
    height:auto;
    max-width: 200px;
}

.container {
    width:100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

.d-flex {
    display: none;
    display: none;
}

.navbar {
    padding: 20px 0px 0px 0px!important;
    padding-top:
}
@media screen and (max-width: 768px)
{
    #about-img {
        width: 100%;
        height:auto;
        max-width: 300px;
    }

    .col-md-9 {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .container {
        width:100%;
        max-width: 650px;
        margin: 0 auto;
        clear: both;
    }
}

@media screen and (max-width: 640px)
{

    footer {
        bottom: -250px;
    }
    
    #about-img {
        width: 100%;
        height:auto;
        max-width: 550px;
    }

    .flex-column {
        flex-direction: column!important
    }
    
    .mr-sm-auto, .mx-sm-auto {
        margin-right: 0px!important
    }

    .d-flex {
        display: -ms-flexbox!important;
        display: flex!important;
    }
    .container {
        width:100%;
        max-width: 590px;
        margin: 0 auto;
        clear: both;
    }
}